/* body {
  background-image: url('https://www.bungie.net/common/destiny2_content/icons/c7902cb2901ed86a9d37d508dfe7f1e3.jpg');
  background-repeat: no-repeat;
  background-size: 1305px;
  background-position: -12.5px -35px;
} */